always-auth=true
scripts-prepend-node-path=true
//artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/:always-auth=true
@quarry:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
@quarry-connected:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
@spectrum:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-release/
@acol:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-acol-release-local/
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
@aep:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-aep-release/
@exc:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
