registry=https://registry.npmjs.org
@adobe:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-platform-release/
@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release/
@aem-sites:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-aem-sites-release/
always-auth=true
//registry.npmjs.org/:_auth="YXpoYW86QUtDcDhwUWJxMlpDdXpHZGtXUG00ckRrM2FiVXZrc0xkZkg2Z0V1Z0JnZTNpQ2FOZkN5Z1ZRczNpTDV2b3dBZVBwUXVQaTZtVg=="
