body {
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.message-box {
  margin: 4rem 1rem;
}

.button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 0.5rem;
  border-width: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5rem 0;
}

.button:hover {
  background-color: rgba(51, 51, 51, 0.1);
}


.iframe-wrapper {
  padding: 0.5rem;
  border: 1px dashed #666;
  max-width: 400px;
}
